<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GFV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<GFV.Properties.Settings>
			<setting name="ImageFittingMode" serializeAs="String">
				<value>None</value>
			</setting>
			<setting name="IsUpgraded" serializeAs="String">
				<value>False</value>
			</setting>
      <setting name="AdditionalFormatExtensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>HD Photo|hdp</string>
            <string>Jpeg XR|jxr</string>
            <string>Windows Media Photo|wdp</string>
          </ArrayOfString>
        </value>
      </setting>
			<setting name="ViewerWindowInputBindingInfos" serializeAs="Xml">
				<value>
					<ArrayOfInputBindingInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<InputBindingInfo>
							<CommandPath>OpenNewWindowCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>N</Key>
								<Modifiers>Control</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>OpenFileCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>O</Key>
								<Modifiers>Control</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>CloseMdiChildCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>W</Key>
								<Modifiers>Control</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>OpenFileInNewWindowCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>O</Key>
								<Modifiers>Control, Shift</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>NextFileCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>Next</Key>
								<Modifiers>None</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>PreviousFileCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>PageUp</Key>
								<Modifiers>None</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>AboutCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>F1</Key>
								<Modifiers>None</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>ExitCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>Q</Key>
								<Modifiers>Control</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>Viewer.NextPageCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>N</Key>
								<Modifiers>Alt</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>Viewer.PreviousPageCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>P</Key>
								<Modifiers>Alt</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
					</ArrayOfInputBindingInfo>
				</value>
			</setting>
			<setting name="ViewerInputBindingInfos" serializeAs="Xml">
				<value>
					<ArrayOfInputBindingInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<InputBindingInfo>
							<CommandPath>System.Windows.Controls.Primitives.ScrollBar::LineUpCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>Up</Key>
								<Modifiers>None</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>System.Windows.Controls.Primitives.ScrollBar::LineDownCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>Down</Key>
								<Modifiers>None</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>System.Windows.Controls.Primitives.ScrollBar::LineLeftCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>Left</Key>
								<Modifiers>None</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>System.Windows.Controls.Primitives.ScrollBar::LineRightCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>Right</Key>
								<Modifiers>None</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>System.Windows.Controls.Primitives.ScrollBar::ScrollToTopCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>Home</Key>
								<Modifiers>None</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
						<InputBindingInfo>
							<CommandPath>System.Windows.Controls.Primitives.ScrollBar::ScrollToBottomCommand</CommandPath>
							<GestureInfo Type="GFV.Properties.KeyGestureInfo">
								<Key>End</Key>
								<Modifiers>None</Modifiers>
							</GestureInfo>
							<CommandParameter/>
						</InputBindingInfo>
					</ArrayOfInputBindingInfo>
				</value>
			</setting>
		</GFV.Properties.Settings>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
